body {
    font-family: Arial, sans-serif;
    background-color: white;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
body2 {
    font-family: Arial, sans-serif;
    background-image: url("FONDO.jpg");
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}