body {
    font-family: Arial, sans-serif;
    background-image: url("istockphoto-1917413520-640x640.jpg");
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
body2 {
    font-family: Arial, sans-serif;
    background-image: url("istockphoto-1917413520-640x640.jpg");
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}